
<ng-template #contentDlg let-c="close" let-d="dismiss">

    <div class="modal-header">
        <img class="image" [src]="getImgURL()" />
        <h6 class="modal-title" id="modal-basic-title">
            Weather Forecast

            <p> 
                {{cityReport?.name}} ( {{cityReport?.country}} ) 
            </p>          
            <p> 
                {{weatherDtl?.dt_txt}} 
            </p>          
        </h6>
        
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>

    <div class="modal-body">

        <div class="row">
            <label class="label  col-xm-6">Weather </label>
            <span>{{getWeatherDecription()}}</span>
        </div>

        <div class="row">
            <label class="label  col-xm-6">Min Temparature</label>
            <span>{{weatherDtl?.main?.temp_min}}</span>
        </div>

        <div class="row">
            <label class="label  col-xm-6">Max Temparature</label>
            <span>{{weatherDtl?.main?.temp_max}}</span>
        </div>

        <div class="row">
            <label class="label  col-xm-6">Avg Temparature</label>
            <span>{{weatherDtl?.main?.temp}}</span>
        </div>


        <div class="row">
            <label class="label  col-xm-6">Humidity</label>
            <span>{{weatherDtl?.main?.humidity}}</span>
        </div>

        <div class="row">
            <label class="label  col-xm-6">Wind Speed</label>
            <span>{{weatherDtl?.wind?.speed}}</span>
        </div>
    </div>

</ng-template>