<div class="loader" *ngIf="isLoading">
  <div class="loading"> Loading...</div>
</div>

<app-dialogue #appDialogue></app-dialogue>

<app-header (headerEvent)="headerEvent($event)"></app-header>

<div class="container-fluid">

  <p class="toastMessage">

    <ngb-alert
    *ngIf="toastMessage.showToast"
    [type]="toastMessage.type"
    [dismissible]="false"
    (closed)="toastMessage.showToast = false"
    >
      {{toastMessage.message}}

    </ngb-alert>

  </p>

  <div class="form-inline">
  
      <div class="form-group mx-sm-3 mb-2">

        <input
          type="text"
          class="form-control"
          #cityInput
          id="cityInput"
          aria-describedby="emailHelp"
          placeholder="Enter city name"
          (keyup.enter)="addCity(cityInput)"
        />
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        (click)="addCity(cityInput)"
      >
        Add
      </button>

      <div class="refresh-icon" (click)="getWetherList()">

        <ng-template #helpText>Refresh...</ng-template>
        <button type="button" class="btn btn-outline-secondary" [ngbTooltip]="helpText">
            <i class="fas fa-sync"></i>
        </button>
    
      </div>
      
  </div>

  <div class="container-fluid" role="main">

    <div  class="card-container">
    
      <app-card
        *ngFor="let cityData of weatherList; let indx = index;"
        [cityReport]="cityData"
        (onDeleteWidget)="deleteCity($event)"
        (onWeatherForcast)="openDlg($event)"
      >
      </app-card>

      </div>

  </div>
</div>

<!-- 
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-basic-title">Weather Forecast</h6>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="blk">
        <label  class="label">Country</label> <span class="pad-5"> : </span><span>{{selectedCity?.sys?.country}}</span>
      </div>
      <div class="blk">
        <label class="label">Avg Temparature</label> <span class="pad-5"> : </span> <span>{{selectedCity?.main?.temp}}</span>
      </div>
      <div class="blk">
        <label class="label">Wind strength</label> <span class="pad-5"> : </span> <span>{{selectedCity?.wind?.speed}}</span>
      </div>
      <div class="blk">
        <label class="label">Wind strength</label> <span class="pad-5"> : </span> <span>{{selectedCity?.wind?.speed}}</span>
      </div>
      <div class="blk">
        <label class="label">Wind strength</label> <span class="pad-5"> : </span> <span>{{selectedCity?.wind?.speed}}</span>
      </div>
      <div class="blk">
        <label class="label">Wind strength</label> <span class="pad-5"> : </span> <span>{{selectedCity?.wind?.speed}}</span>
      </div>
      <div class="blk">
        <label class="label">Weather description</label> <span class="pad-5"> : </span> <span>{{selectedCity?.weather[0].description}}</span>
      </div>
    </div>
  </ng-template>
   -->