/* You can add global styles to this file, and also import other style files */
body{
    background: linear-gradient(to bottom, #163C52 0%, #4F4F47 30%, #C5752D 60%, #B7490F 80%, #2F1107 100%);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-repeat: no-repeat;
    min-height: 100vh;

    .label {
        color: #259c72;
        text-align: right;
        max-width: 31em;
        white-space: nowrap;
        width: 55%
    }

    .pad-5{
        margin: 0 5px;
    }

    h1{
        color:#1D7F97;
    }
}
  